/*
File Name: palette.css
Date: 4/20/18 - revised!
Programmer: Mario Lopriore
*/
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Fjalla One', sans-serif;
}
p,
li,
blockquote,
em,
strong {
  font-family: 'Frank Ruhl Libre', serif;
}
body {
  font-size: 16px;
}
body nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #2A4E65;
}
body nav a {
  color: #FFF;
  padding: .5rem 2rem;
  text-decoration: none;
}
body h2 {
  color: #2A4E65;
  font-size: 1.6rem;
  padding: .5rem 0;
}
body header {
  position: relative;
}
body header h3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  font-size: 2.2rem;
}
body header img {
  max-width: 100%;
}
body main {
  background: #FFF;
}
body main h1 {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
}
body main h3 {
  font-size: 1.2rem;
}
body main h4 {
  font-size: 1.25rem;
}
body main p {
  padding: 1rem;
  line-height: 1.2;
}
body main blockquote {
  border-left: 3px solid #2A4E65;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.3;
  margin: .5rem 2rem;
  padding: .7rem 1rem;
}
body aside {
  background: #F3F3F3;
  padding: 2rem;
}
body aside img {
  margin: .8rem auto;
  width: 100%;
}
body aside h6 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: .7rem;
  font-style: italic;
  padding-bottom: 1rem;
  text-align: center;
}
body section {
  padding: 2rem;
}
body section h3 {
  padding-top: 2rem;
}
body section p {
  font-size: .8rem;
}
body section .left-ball {
  float: left;
  shape-outside: circle(50%);
  shape-margin: 1px;
  width: 11rem;
}
body section .right-ball {
  float: left;
  shape-outside: url(../images/bowling-diamond.png);
  shape-margin: 5px;
  shape-image-threshold: 0.7;
  width: 10rem;
}
body section .mush-ball {
  float: left;
  shape-outside: url(../images/bowling-splat.png);
  shape-margin: 3px;
  shape-image-threshold: 0.7;
  width: 10rem;
}
body footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #090909;
}
body footer p {
  color: #F3F3F3;
  padding: .5rem;
}
body footer a {
  color: #FFF;
  font-family: 'Frank Ruhl Libre', serif;
  padding: .5rem;
  text-decoration: none;
}
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 100px 1fr 1fr 60px;
    grid-template-areas: "hero hero hero" "nav main side" "section section section" "foot foot foot";
  }
  nav {
    grid-area: nav;
  }
  header {
    grid-area: hero;
    z-index: 1;
  }
  header img {
    width: 100%;
  }
  main {
    grid-area: main;
  }
  main p {
    padding: 1.5rem;
  }
  aside {
    grid-area: side;
    line-height: 1.5;
  }
  section {
    grid-area: section;
    margin: 0 auto;
    max-width: 80%;
  }
  footer {
    grid-area: foot;
  }
}
@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 150px 2fr 1fr;
    grid-template-rows: 220px 1fr 80px;
    grid-column-gap: 0;
    grid-template-areas: "nav hero hero" "nav main side" "nav foot foot";
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  nav a {
    padding: 1rem;
    margin: 1rem 0 0 1rem;
  }
  header img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  main {
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-areas: "title . sub" "para1 . para2" "block . para3";
  }
  h1 {
    grid-area: title;
  }
  h2 {
    grid-area: sub;
  }
  .para1 {
    grid-area: para1;
  }
  .block {
    grid-area: block;
  }
  .para2 {
    grid-area: para2;
  }
  .para3 {
    grid-area: para3;
  }
}
