/*
File Name: palette.css
Date: 4/20/18 - revised!
Programmer: Mario Lopriore
*/
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Fjalla One', sans-serif;
}
p,
li,
blockquote,
em,
strong {
  font-family: 'Frank Ruhl Libre', serif;
}
body {
  font-size: 16px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #2A4E65;
}
nav a {
  color: #FFF;
  padding: .5rem 2rem;
  text-decoration: none;
}
header {
  position: relative;
}
header h3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  font-size: 4rem;
}
header img {
  max-width: 100%;
}
main {
  background: #FFF;
}
main h1 {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
}
main h2 {
  color: #774222;
  font-size: 1.6rem;
  padding: .5rem;
  text-align: center;
}
main h3 {
  font-size: 1.5rem;
}
main h4 {
  font-size: 1.25rem;
}
main p {
  padding: 1rem;
  line-height: 1.2;
}
main blockquote {
  border-left: 3px solid #2A4E65;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.3;
  margin: .5rem 2rem;
  padding: .7rem 1rem;
}
aside {
  background: #F3F3F3;
  padding: 2rem;
}
aside h2 {
  color: #2A4E65;
  font-size: 1.6rem;
  padding: .5rem 0;
}
aside img {
  margin: .8rem auto;
  width: 100%;
}
aside h6 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: .7rem;
  font-style: italic;
  padding-bottom: 1rem;
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #090909;
}
footer p {
  color: #F3F3F3;
  padding: .5rem;
}
footer a {
  color: #FFF;
  font-family: 'Frank Ruhl Libre', serif;
  padding: .5rem;
  text-decoration: none;
}
@media (min-width: 768px) {
}
@media (min-width: 1000px) {
}
